<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/Assets/CSS/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="separacion nav-item">
                <div id="thiefContainer" class="image-container">
                  <img id="imagethief" src="/Assets/IMG/thief.png" alt="Imagen estática"/>
                  <a class="navbar-brand" href="/index.html">Inicio</a>
              </li>
              <li class="separacion nav-item">
                <div class="image-container" id="knightContainer"> 
                  <img id="imageKnight" src="/Assets/IMG/Knight.png" alt="">
                  <a class="nav-link active" aria-current="page"href="/Assets/Templates/Descripcion.html">Descripcion</a>
                </div>
              </li>
              <li class=" separacion nav-item">
                <div class="image-container" id="mageContainer"> 
                  <img id="imageMage" src="/Assets/IMG/mage.png" alt="">
                  <a class="nav-link active" aria-current="page"href="/Assets/Templates/Habilidades.html">Habilidades</a>
                </div>
              </li>
              <li class="separacion av-item">
                <div class="image-container" id="swordContainer"> 
                  <img id="imageSword" src="/Assets/IMG/original.png" alt="">
                  <a class="nav-link active" aria-current="page"href="/Assets/Templates/Pasatiempos.html">Passatiempos</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <div class="container" >
      <H3 id="nombreCompleto" class="separacion"></H3>
      <img class="redondearImgPerfil" src="../IMG/perfil.png" alt="">
      </div>
      <div class="container">
        <p>Edad:  </p>
        <p id="edad"></p>
        <div style="margin-left: 45px;" class="container">
          <p>Fecha de nacimiento: </p>
          <p  id="fecha"></p>
        </div>
      </div>
      <div class="container">
        <p  style="text-align: center;" >Oficio:</p>
        <p  style="text-align: center;"  id="oficio"></p>
      </div>
      <div class="contenedor2">
        <p>Soy un Ingeniero en Informática recién graduado, con un año de experiencia enfocado en el desarrollo de aplicaciones web. Mi pasión radica en abordar desafíos tecnológicos y en la comprensión profunda de las necesidades de los clientes para ofrecer soluciones efectivas. Destaco por mi determinación y habilidad para llevar a cabo tareas con precisión y eficiencia. Estoy en busca de un entorno dinámico donde pueda aportar mi experticia y a la vez, continuar expandiendo mis conocimientos y habilidades en el ámbito de la informática y áreas relacionadas.</p>
      </div>
      <div></div>
      <div></div>
    </section>
    <footer style="margin-top: 50px;">
      <div class="contenedor2">
        <div class="container">
          <h3>Mis Redes</h3>
        </div>
        <div class="container">
          <a href="https://www.instagram.com/pedro.exe37?igsh=dXcxbHJqemhtYzI1"><img style="width: 20px;"  src="../IMG/instagram.png"></a>
          <a style="margin-left: 20px;" href="https://www.linkedin.com/in/pedro-alfaro/"><img style="width: 20px;"  src="../IMG/linked.png"></a>
          <a style="margin-left: 20px;" href="https://github.com/PEDR0EXE"><img style="width: 20px;" src="../IMG/git.png" alt=""></a>
        </div>
      </div>
    </footer>
    <script src="../JS/animations.js"></script>
    <script src="../JS/descripcion.js"></script>
  </body>
</html>
